# root
/node_modules/
/npm-debug.log

# purescript
/frontend/bower_components/
/frontend/node_modules/
/frontend/npm-debug.log
/frontend/.pulp-cache/
/frontend/output/

# haskell
/server/.stack-work/
/server/you-will-pay.cabal
